@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: .2s linear;
}

.main {
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    background-image:linear-gradient(rgba(0,0,0,0.40),rgba(0, 0, 0, 0.40)),url(background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

#appName {
    text-align: center;
    font-size: 30px;
    color: #f1f1f1;
    
    
}

.weather-cards {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
    margin-left: 15%;
    margin-right: 15%;
}

.inputBox{
    padding:1rem;
    display:flex;
    justify-content: center;
    /* background-color: var(--secondary-color); */
}

@media (max-width: 764px) {
    .heading {
        font-size: 50px;
    }
}


